* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: border-box;
}
body {
  overflow-x: hidden;
  background-image: url("img1.png");
  background-size: contain;
}
.WebDev
{
  text-decoration: none;
  color:rgb(153, 241, 247);
}
.navbar {
  height: 70px;
  width: 100%;
  background-color:#002d8b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0px;
  border-bottom: 1px solid #000000;
  font-family:Arial,sans-serif;
}

.nav-logo {
  width: 180px;
  height: 92px;
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
  height: 56px;
  background-color: #ffffff;
  background-image: url("img1.png");
  background-size: contain;

}

.navbar-texts-item a {
  width: 175px;
  height: 72px;
  color: #93d9fb;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  
}
.navbar-texts a {
  text-decoration: none;
  color:rgb(153, 241, 247);
  /*border:solid 2px rgb(243, 21, 88);*/
  /*background-color: #fdfd2e;*/
  font-weight: bold;
  border-radius: 10px;
  padding: 2px; 

}
.navbar-texts:hover {
  background-color: #f633ef;
  /* border:0.5px solid #002d8b; */
  border-radius: 1px;
}
.nav-width-control1 {
  width: 155px;
}
.nav-width-control2 {
  width: 70px;
}

.sign-in1 {
  width: 110px;
  height: 40px;
  background-color: #58b9d6;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.sign-in1:hover {
  background-color: #f468c1;
  .icon-sign-in {
    background-color: #58b9d6;
  }
}

.sign-in1 p {
  width: 50px;
  height: 36px;
  display: flex;
  align-items: center;
}

.icon-sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #002d8b;
  color: white;
  font-size: 25px;

}

.domains {
  width: 100%;
  height: 50px;
  color:rgb(153, 241, 247);
  /* background: linear-gradient(#ebe7eb, #f6f6f6); */
  text-decoration: none;
  background-color:#3d7cc9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
  margin-top: 70px;
  border-bottom: 1px solid #000000;
}

.dom a{
  text-decoration: none;
  color:rgb(153, 241, 247);
}

.dom a:hover {
    background-color: #3da5b5;
    color:white
}

.search {
  display: flex;
  justify-content: space-evenly;
  width: 700px;
  height: 40px;
  border-radius: 4px;
}
.categories {
  color: #0f1111;
  background-color: #f3f3f3f3;
  width: 350px;
  margin-right: 4px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border:none;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f1111;
  background-color: #7fdaea;
  font-size: 1.2rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav-search:hover {
  border: 3px solid #7fdaea;
  border-radius: 7px;
}
.search-input:active {
  border: 3px solid #febd68;
  border-radius: 7px;
}

.college {
    width: 100%;
    height:35px;
    color:#ffffff;
    padding-left: 10px;
    padding-top: 15px;
    
}

.projects1{
    min-height :430px;
    width:100%;
    color: rgb(144, 232, 245);
    display:flex;
    /* justify-content: space-evenly; */
    align-items: center;
    margin-bottom: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    
}

.projects1::-webkit-scrollbar{
  display:none;
}

.eg1 {
    height:330px;
    min-width:25%;
    border:0.5px solid #ffffff;
    border-radius: 20px;
    padding-left: 25px;
    margin-left: 2%;
    padding-top: 10px;
    box-shadow: 5px 5px #888888;

}

.eg1-icon{
    height:20px;
    width:60px;
    display:flex;
    justify-content:space-evenly ;
    align-items: center;
    position:relative;
    top:10px;
    left:80%;
}

.eg1-pic {
    height:55%;
    width:90%;
    border:2px solid #ffffff;
    margin-bottom: 7px;

}

.eg1-des h3{
    text-align: center;
}

.boxset2{
  color:white;
  display:flex;
  width:100%;
  height:1000px;
}

.tech-news{
  height:650px;
  width:25%;
  border:2px solid #ffffff;
  border-radius: 20px;
  margin-right: 15px;
  padding-left: 25px;
  box-shadow: 5px 5px #888888;
  /*font-size: larger;*/
  color: white
  
}

.community-page{
  height:650px;
  width:50%;
  border:2px solid #ffffff;
  border-radius: 20px;
  margin-right: 15px;
  padding-left: 25px;
  box-shadow: 5px 5px #888888;
  /*font-size: larger;*/
  color: white

}

.blogs{
  height:900px;
  width:20%;
  border:2px solid #ffffff;
  margin-right: 15px;
  border-radius: 20px;
  margin-right: 15px;
  padding-left: 25px;
  box-shadow: 5px 5px #888888;
  /*font-size: larger;*/
  color: white
}


